.footers{
    height: 80px;
    background-color:   #4C5270;
    color:#fff;
}


.megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  
  .big {
    /* background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    min-height:600px; */
  }
  .file{
      width: 100%;
      height: 40px;
  }
  .links{
      font-weight: 600 !important;
      box-shadow: 4px 4px 10px rgba(201, 201, 201, 0.4);
      border-radius: 4px;
      margin-left: 10px;
  }
  .links:hover{
    box-shadow: 4px 4px 10px rgba(80, 80, 80, 0.7);
    color:#654ea3;
    display: block;
    background-color: #f1ebff;
}
  code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.08em;
  }
  /* form */
  .form {
    width: 800px;
    margin: 30px auto;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
    background-color: #B1D4E0;
    padding: 24px;
    border-radius: 5px;
}
.mynav{
  box-shadow: 0 4px 10px rgba(39, 39, 39, 0.6) !important;
}
.btns{
  background-color: #654ea3 !important;
  width: 100% !important;
}
.mb-3{
    margin-bottom: 20px !important;
}
.form-control{
    height: 50px !important;
}
.form-control::placeholder{
    font-weight: 600 !important;
}
.notify {
    line-height: 1rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-shadow: 1px 5px 5px rgba(255, 255, 255,0.4);
}
  /* end form */
  /* prodcut */
  .products{
    
    padding: 60px 0;
}
.title{
  margin-top: 24px;
}
 .product {
border: 1px solid #eee;
padding: 12px;
margin: 12px auto;
border-radius: 5px;
background-color: #fff;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.price {
text-align: center;
font-weight: 900;
color: rgba(201, 165, 6, 0.781);
font-size: 2rem;
}

.p-img {
object-fit: cover !important;
height: 260px;
width: 100% !important;
border-bottom: 1px solid #ccc;
}

.close {
position: absolute;
right: 6px;
padding: 4px;
font-size: 1.7rem;
}
.price {
color: red;
text-align: center;
font-weight: 400;
font-size: 1.4rem;
margin: 0 0 5px 0;
}
.center{
text-align: center;
margin-bottom: 5px;
}
.vnd{
text-decoration: underline;
font-size: 1rem;
color:#888;
}
.viewDetail {
text-align: center;
width: 150px;
margin: 0 auto;
border-radius: 5px;
padding: 10px;
background-color: #654ea3;
color: #fff;
font-weight: 600;
}
.btn-add{
list-style-type: none;
padding-top: 20px;
}
.add{
width: 250px;
background-color:#fff ;
color:#666;
margin-bottom: 24px;
}
.white{
  color:#fff !important;
  text-decoration: none;
}

.form-dis{
  display: none;
}
.form-active{
  display: block;
}
  /* end prodcut */
  /* admin Products */

.mini-img{
  width: 80px;
  height:80px;
}


.green {
  color: #47f847;
  font-size: 1.4rem;
}

.green:hover,
.red:hover {
  cursor: pointer;
}

.red {
  position: relative;
  top: 2px;
  color: red;
  font-size: 1.4rem;
}
.color-white{
  color:#fff;
  margin-left: 5px;
}
.btn-remove{
  width: 180px;
  height: 80px;
  background-color: #654ea3;
  padding:3px 10px;
  border-radius: 5px;
}
.btn__login{
  text-align: right;
  font-weight: 600;
  background-color: #7d71a0;
}